*/password.txt
update-containers.sh
.venv
__pycache__
.vscode
sia-backend/flask-server/static/images/eventposter/*
sia-backend/mail-server/docker-data/dms/mail-logs/mail.log
sia-backend/mail-server/docker-data/dms/mail-state/lib-postfix/master.lock
.gitignore
sia-backend/mail-server/*
sia-backend/mail-server/docker-data/dms/config/postfix-accounts.cf
sia-backend/mail-server/docker-data/dms/mail-state/lib-dovecot/instances
.env
