{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
    </header>

    <body>
        {% if events %}
            {% for event in events %}
                <div>
                    <p>{{ event[0] }}</p>
                    <p>{{ event[1] }}</p>
                    <p>{{ event[2] }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No events available.</p>
        {% endif %}
    </body>

    <footer>
        <p>&copy; 2024 Sia-PlanB.de</p>
    </footer>

</body>
</html>

{% endblock %}