
.class_footer{
    width: 100%;
    background-color: rgb(43, 48, 53);
}


.table-container {
  max-height: 600px; 
  overflow: auto;    
}

.table {
  width: 100%; 
}

th, td {
  text-align: left;
}

thead {
  position: sticky;
  top: 0;
}

*{
  color: rgb(224, 224, 224)
}

.bub{
  background-color: grey;
}

