
.class_footer{
    width: 100%;
    background-color: rgb(43, 48, 53);
}


.table-container {
  max-height: 600px; 
  overflow: auto;    
}

.table {
  width: 100%; 
}

th, td {
  text-align: left;
}

thead {
  position: sticky;
  top: 0;
}

.white_224{
  color: rgb(224, 224, 224);
}

.bub{
  background-color: grey;
}

.slidertext p {
  color: white;
  font-size: 20px;
  text-shadow: 0px 0px 15px black, 0px 0px 10px black, 0px 0px 2px black;
  font-weight: 600;
}

.slidertext h4{
  font-size: 30px;
  text-shadow: 0px 0px 15px black,0px 0px 10px black,0px 0px 2px black;
  font-weight: 600;
}

.crop {
  max-height: 290px;
  overflow: hidden;
}

.crop-events{
  max-height: 304px;
  overflow: hidden;
}

.personal_score {
  color: #198754;
}

@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }
  
  thead {
      display: none;
  }

  tr {
      margin-bottom: opx;
      border: 1px solid #000;
      padding: 0px;
  }

  td {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #000;
  }

  td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
  }
}

