{% extends "base.html" %}

{% block title %}
    Sia-planB.de
{% endblock %}


{% block nav%}
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark" style="margin-top: 59px; z-index: 1029;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#hotlink_user">Benutzerverwaltung</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hotlink_contact">Anfragen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hotlink_event_list">Eventliste</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hotlink_event_create">Event erstellen</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock nav %}


{% block content %}
<style>
    section {
        padding: 20px;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    h2 {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
    }
    .card {
        border: 1px solid #000;
        padding: 15px;
        margin-bottom: 20px;
    }
    input, select, textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #000;
    }
    button {
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: #444;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    table, th, td {
        border: 2px solid #000000;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
</style>



<!-- Admin Section -->
<section id="admin" style="margin-top: 59px;">
    <div id="hotlink_user">
        <h3>Benutzerverwaltung</h3>
        <div class="table-container">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Benutzername</th>
                        <th>Rolle</th>
                        <th>HS E-mail</th>
                        <th>E-mail</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Straße</th>
                        <th>Nr.</th>
                        <th>Stadt</th>
                        <th>PLZ</th>
                        <th>Verwaltung</th>
                    </tr>
                </thead>
                <tbody>
                    {% if users %}
                        {% for user in users %}
                            <tr>
                                <td>{{user.id}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.role}}</td>
                                <td>{{user.hs_email}}</td>
                                <td>{{user.email}}</td>
                                {% if current_user.is_authenticated and hasPermissions("adminpanel.user.get") %}
                                <td>{{user.surname}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.street}}</td>
                                <td>{{user.street_no}}</td>
                                <td>{{user.city}}</td>
                                <td>{{user.postalcode}}</td>
                                {% else %}
                                <td>****</td>
                                <td>****</td>
                                <td>****</td>
                                <td>****</td>
                                <td>****</td>
                                <td>****</td>
                                {% endif %}
                                <td>
                                    <div class="card-body">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-uid="{{ user.uid }}">
                                                Bearbeiten
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-uid="{{ user.uid }}" data-username="{{ user.username }}">
                                                Löschen
                                            </button>
                                        </div>
                                    </div>
                                </td>          
                        {% endfor %}
                    {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>

<!-- DELETE USER MODAL --->
        <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-bs-theme="dark" style="color:white;">
            <div class="modal-dialog" >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Benutzer Löschen</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="id-delete-user-modal-body">
                  Benutzer wirklich löschen?
                </div>
                <div class="modal-footer">
                  <form id="delete-form" method="POST" action="/delete_user">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="uid" id="uid-user-input" value="">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                  </form>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                </div>
              </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            const deleteModal = document.getElementById('deleteUserModal');
            const uidInput = document.getElementById('uid-user-input');
            const deleteModalUsername = document.getElementById('id-delete-user-modal-body');
            deleteModal.addEventListener('show.bs.modal', (event) => {
                const button = event.relatedTarget;
                const uid = button.getAttribute('data-uid');
                const username = button.getAttribute('data-username');
                uidInput.value = uid;
                deleteModalUsername.innerHTML = '"' + username + '"' + " Wirklich löschen?"
            });
            });
        </script>

<!-- EDIT USER MODAL --->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" data-bs-theme="dark" style="color:white;">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalLabel">Benutzerdaten ändern</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <table>
                    <tr>
                      <td>registered</td>
                      <td>last_login</td>
                      <td>last_updated</td>
                      <td>uid</td>
                    </tr>
                    <tr>
                      <td><p name="registered" id="registered" value=""></p></td>
                      <td><p name="last_login" id="last_login" value=""></p></td>
                      <td><p name="last_updated" id="last_updated" value=""></p></td>
                      <td><p name="display_uid" id="display_uid" value=""></p></td>
                    </tr>
                  </table>
                  <form id="user_edit_modal_form" class="row g-2" method="POST" action="/api/user/update/">
                    {{ form_edit_user.hidden_tag() }}
                    <input type="hidden" id="uid" name="uid" value="">
                    <div class="col-md-6">
                      {{ form_edit_user.username }}
                    </div>
                    <div class="col-md-6">
                        {{ form_edit_user.role }}
                    </div>
                    <div class="col-md-6">
                      {{ form_edit_user.email }}
                    </div>
                    <div class="col-md-6">
                      {{ form_edit_user.hs_email }}
                    </div>
                    <div class="col-md-6">
                      {{ form_edit_user.password }}
                    </div>
                    <div class="col-md-6">
                      {{ form_edit_user.password_confirm }}
                    </div>
                    <div class="col-md-6">
                      {{ form_edit_user.surname }}
                    </div>
                    <div class="col-md-6">
                      {{ form_edit_user.lastname }}
                    </div>
                    <div class="col-md-4">
                      {{ form_edit_user.street }}
                    </div>
                    <div class="col-md-2">
                      {{ form_edit_user.street_no }}
                    </div>
                    <div class="col-md-4">
                      {{ form_edit_user.city }}
                    </div>
                    <div class="col-md-2">
                      {{ form_edit_user.postalcode }}
                    </div>
                    <div class="col-12">
                      {{ form_edit_user.submit }}
                    </div>
                    <div>
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          <ul class="error-message-list">
                            {% for message in messages %}
                              <p class="error-message">{{ message }}</p>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endwith %}
                    </div>
                    <div id="flash-messages"></div>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const editModal = document.getElementById('editModal');
                const uidInput = document.getElementById('uid');
                const formFields = {
                    username: document.querySelector('input[name="username"]'),
                    email: document.querySelector('input[name="email"]'),
                    hs_email: document.querySelector('input[name="hs_email"]'),
                    surname: document.querySelector('input[name="surname"]'),
                    lastname: document.querySelector('input[name="lastname"]'),
                    street: document.querySelector('input[name="street"]'),
                    street_no: document.querySelector('input[name="street_no"]'),
                    city: document.querySelector('input[name="city"]'),
                    postalcode: document.querySelector('input[name="postalcode"]'),
                    registered: document.getElementById('registered'),
                    last_login: document.getElementById('last_login'),
                    last_updated: document.getElementById('last_updated'),
                    display_uid: document.getElementById('display_uid'),
                };
                editModal.addEventListener('show.bs.modal', (event) => {
                    const button = event.relatedTarget;
                    const uid = button.getAttribute('data-uid');
                    uidInput.value = uid;
                    document.getElementById('user_edit_modal_form').setAttribute('action', `/api/user/update/${uid}`);
                    fetch(`/api/user/get/${uid}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}',
                    },
                    body: "",
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                        console.error(data.error);
                        } else {
                            formFields.username.value = data.username || '';
                            formFields.email.value = data.email || '';
                            formFields.hs_email.value = data.hs_email || '';
                            formFields.surname.value = data.surname || '';
                            formFields.lastname.value = data.lastname || '';
                            formFields.street.value = data.street || '';
                            formFields.street_no.value = data.street_no || '';
                            formFields.city.value = data.city || '';
                            formFields.postalcode.value = data.postalcode || '';
                            formFields.registered.textContent = data.registered || '';
                            formFields.last_login.textContent = data.last_login || '';
                            formFields.last_updated.textContent = data.last_updated || '';
                            formFields.display_uid.textContent = data.uid || '';
                            const roleSelect = document.getElementById('inputRole');
                            if (roleSelect) {
                                for (let option of roleSelect.options) {
                                    if (option.value === data.role) {
                                        option.selected = true;
                                        break;
                                    }
                                }
                            }
                        }
                    })
                    .catch(error => console.error('An error occurred:', error));
                });
                const form = document.getElementById('user_edit_modal_form');
                const modal = new bootstrap.Modal(document.getElementById('editModal'));  // Bootstrap Modal Instanz
                form.addEventListener('submit', (event) => {
                    event.preventDefault(); 
                    const formData = new FormData(form);  
                    fetch(form.action, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token() }}'  
                        }
                    })
                    .then(response => response.json())  
                    .then(data => {
                        if (data.success) {
                            window.location.href = 'admin';
                        } else {
                            displayFlashMessages(data.errors || []);
                        }
                    })
                    .catch(error => {
                        console.error('Fehler:', error);
                        displayFlashMessages(['Ein Fehler ist aufgetreten. Womöglich fehlt dir die Berechtigung!']);
                    });
                });
            });
            function displayFlashMessages(messages) {
                const flashContainer = document.getElementById('flash-messages');
                flashContainer.innerHTML = '';  // Leere den Container vor dem Hinzufügen neuer Nachrichten

                if (messages.length > 0) {
                    const ul = document.createElement('ul');
                    ul.classList.add('error-message-list');
                    messages.forEach(message => {
                        const li = document.createElement('li');
                        li.classList.add('error-message');
                        li.textContent = message;
                        ul.appendChild(li);
                    });
                    flashContainer.appendChild(ul);
                }
            }
        </script>
    </div>
<!-- KONTAKTANFRAGEN -->
    <div id="hotlink_contact">
        <h3>Kontaktanfragen</h3>
        <div class="table-container">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Kategorie</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Email</th>
                        <th>Nachricht</th>
                        <th>Erstellt</th>
                        <th>Verwaltung</th>
                    </tr>
                </thead>
                <tbody>
                    {% if contacts %}
                        {% for contact in contacts %}
                            <tr data-uid="{{ contact.uid }}">
                                <td>{{ contact.category }}</td>
                                <td>{{ contact.surname }}</td>
                                <td>{{ contact.lastname }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.message }}</td>     
                                <td>{{ contact.created }}</td>  
                                <td>
                                    <div class="card-body">
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-uid="{{ contact.uid }}">
                                                Löschen
                                            </button>
                                    </div>
                                </td>      
                        {% endfor %}
                    {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
<!-- DELETE CONTACT MODAL --->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" data-bs-theme="dark" style="color:white;">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Anfrage löschen</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Sicher dass du die Kontaktanfrage löschen möchtest?
                </div>
                <div class="modal-footer">
                  <form id="delete-form" method="POST" action="/delete_contact">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="uid" id="uid-contact-input" value="">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                  </form>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                </div>
              </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            const deleteModal = document.getElementById('deleteModal');
            const uidInput = document.getElementById('uid-contact-input');
            deleteModal.addEventListener('show.bs.modal', (event) => {
                const button = event.relatedTarget;
                const uid = button.getAttribute('data-uid');
                uidInput.value = uid;
            });
            });
        </script>
    </div>

    <!-- Eventliste -->
    <div id="hotlink_event_list">
      <h3>Events</h3>
      <div class="table-container">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Ort</th>
                    <th>Datum</th>
                    <th>Beschreibung</th>
                    <th>Autor</th>
                    <th>Sichtbarkeit</th>
                    <th>Verwaltung</th>
                </tr>
            </thead>
            <tbody>
                {% if events %}
                    {% for event in events %}
                        <tr data-uid="{{ event.uid }}">
                            <td>{{ event.id }}</td>
                            <td>{{ event.name }}</td>
                            <td>{{ event.place }}</td>
                            <td>{{ event.date }}</td>     
                            <td>{{ event.description }}</td> 
                            <td>{{ event.username }}</td> <!-- Aus SQL JOIN-->
                            <td>{{ event.visibility }}</td> 
                            <td>
                                <div class="card-body">
                                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editEventModal" data-uid="{{ event.id }}"> <!-- HIER ID Aufgrund bestehender Infastruktur von MOPSKATER-->
                                      Bearbeiten
                                  </button>
                                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ShiftModal" data-id="{{ event.id }}"> 
                                    Schichten
                                  </button>
                                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEventModal" data-uid="{{ event.uid }}" data-name="{{ event.name }}"> <!-- HIER UID Aufgrund bestehender Infastruktur von MOPSKATER-->
                                    Löschen
                                  </button>
                                </div>
                            </td>      
                    {% endfor %}
                {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
<!-- DELETE EVENT MODAL --->
    <div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventLabel" aria-hidden="true" data-bs-theme="dark" style="color:white;">
      <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Event Löschen</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="id-delete-event-modal-body">
             Event wirklich löschen?
          </div>
          <div class="modal-footer">
            <form id="delete-form" method="POST" action="/delete_event">
              {{ form.hidden_tag() }}
              <input type="hidden" name="uid" id="uid-event-input" value="">
              <button type="submit" class="btn btn-danger">Löschen</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          </div>
        </div>
      </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const deleteModal = document.getElementById('deleteEventModal');
          const uidInput = document.getElementById('uid-event-input');
          const deleteModalEventName = document.getElementById('id-delete-event-modal-body');
          deleteModal.addEventListener('show.bs.modal', (event) => {
              const button = event.relatedTarget;
              const uid = button.getAttribute('data-uid');
              const name = button.getAttribute('data-name');
              uidInput.value = uid;
              deleteModalEventName.innerHTML = '"' + name + '"' + " Wirklich löschen?"
          });
        });
    </script>

    
<!-- SHIFT MODAL --->

<div class="modal fade" id="ShiftModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-theme="dark" style="color:white;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Schichten und Anmeldungen Verwalten</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table >
          <tbody id="id-shift-modal-table">
            <tr>
              <th>Typ</th>
              <th>Start</th>
              <th>Ende</th>
              <th>Eingetragene Nutzer</th>
            </tr>
          </tbody>
        </table>
        <form class="row g-2" method="POST" action="/api/events/event/<int:eventid>/addshift" id="id-shift-modal-form">
          {{ form.hidden_tag() }}
          <input type="hidden" name="id" id="id-shift-modal-form-event-id" value="">
          <div class="col-md-6">
            {{ form_new_shift.type }}
          </div>
          <div class="col-md-2">
            {{ form_new_shift.start }}
          </div>
          <div class="col-md-2">
            {{ form_new_shift.end }}
          </div>
          <div class="col-md-2">
            {{ form_new_shift.submit }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const CSRF = document.getElementById("CSRF").getAttribute("content");
    const ShiftModal = document.getElementById("ShiftModal");
    const idInput = document.getElementById("id-shift-modal-form-event-id");
    const form = document.getElementById("id-shift-modal-form");

    async function fetchShifts(eventId) {
        const tableBody = document.getElementById("id-shift-modal-table");

        try {
            const response = await fetch(`/api/events/event/${eventId}/getshifts`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            });

            const data = await response.json();
            tableBody.innerHTML = `
                <tr>
                    <th>Typ</th>
                    <th>Start</th>
                    <th>Ende</th>
                    <th>Eingetragene Nutzer</th>
                    <th></th>
                </tr>
            `;

            if (data.error) {
                console.error(data.error);
                return;
            }

            if (data.length === 0) {
                const row = document.createElement("tr");
                row.innerHTML = `<td colspan="5" class="text-center">Das Event besitzt keine Schichten bis jetzt</td>`;
                tableBody.appendChild(row);
            } else {
                data.forEach((item) => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${item.type}</td>
                        <td>${item.start ?? "-"}</td>
                        <td>${item.end ?? "-"}</td>
                        <td>${item.username ?? "-"}</td>
                        <td>
                            <button class="delete-btn btn btn-danger" data-id="${item.id}" data-event-id="${eventId}">X</button>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });

                document.querySelectorAll(".delete-btn").forEach((button) => {
                    button.addEventListener("click", async function () {
                        const shiftId = this.getAttribute("data-id");
                        const eventId = this.getAttribute("data-event-id");
                        await deleteShift(shiftId, this.closest("tr"), eventId);
                    });
                });
            }
        } catch (error) {
            console.error("Fetch error:", error);
        }
    }

    async function deleteShift(shiftId, rowElement, eventId) {
        try {
            const response = await fetch(`/api/events/event/delshift/${shiftId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": CSRF,
                },
            });

            if (!response.ok) {
                throw new Error("Failed to delete shift");
            }

            const data = await response.json();
            console.log("Shift deleted:", data);
            rowElement.remove(); 

            await fetchShifts(eventId); 
        } catch (error) {
            console.error("Delete error:", error);
        }
    }

    

    ShiftModal.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget;
        const eventId = button.getAttribute("data-id");

        idInput.value = eventId;
        form.action = `/api/events/event/${eventId}/addshift`;

        fetchShifts(eventId);

        form.onsubmit = async (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            try {
                const response = await fetch(form.action, {
                    method: "POST",
                    body: formData,
                    headers: {
                        "X-CSRFToken": CSRF,
                    },
                });

                const data = await response.json();
                if (data.success) {
                    fetchShifts(eventId);
                } else {
                    displayFlashMessages(data.errors || []);
                }
            } catch (error) {
                console.error("Fehler:", error);
                displayFlashMessages([
                    "Ein Fehler ist aufgetreten. Womöglich fehlt dir die Berechtigung!",
                ]);
            }
        };
    });
});
</script>


<!-- EDIT EVENT MODAL --->
        <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true" data-bs-theme="dark" style="color:white;">
            <div class="modal-dialog modal-lg" data-bs-theme="dark">
              <div class="modal-content" data-bs-theme="dark">
                <div class="modal-header">
                  <h5 class="modal-title" id="editEvenModalLabel">Eventdaten ändern</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <table style="color: white;">
                    <tr>
                      <td>Event-ID</td>
                      <td>erstellt</td>
                      <td>Autor</td>
                    </tr>
                    <tr>
                      <td><p name="event_id" id="event_id"></p></td>
                      <td><p name="created" id="event_created"></p></td>
                      <td><p name="author" id="event_author"></p></td>
                    </tr>
                  </table>
                  <form id="event_edit_modal_form" class="row g-2" method="POST" action="/api/events/event/update/">
                    {{ form_edit_user.hidden_tag() }}
                    <input type="hidden" id="uid" name="uid" value="">
                    <div class="col-md-4">
                      {{ form_edit_event.name }}
                    </div>
                    <div class="col-md-4">
                      {{ form_edit_event.date }}
                    </div>
                    <div class="col-md-4">
                      {{ form_edit_event.place }}
                    </div>
                    <div class="col-md-4">
                      {{ form_edit_event.visibility }}
                    </div>
                    <div class="col-md-12">
                      {{ form_edit_event.description }}
                    </div>
                    <div class="col-md-12" style="color:white">
                      {{ form_edit_event.file }}
                    </div>
                    <div class="col-md-12">
                      {{ form_edit_event.submit }}
                    </div>
                    <div>
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          <ul class="error-message-list">
                            {% for message in messages %}
                              <p class="error-message">{{ message }}</p>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      {% endwith %}
                    </div>
                    <div id="flash-messages"></div>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const editEventModal = document.getElementById('editEventModal');
                const uidEventInput = document.getElementById('uid');
                const formEventFields = {
                    name: document.querySelector('input[name="name"]'),
                    visibility: document.querySelector('input[name="visibility"]'),
                    place: document.querySelector('input[name="place"]'),
                    date: document.querySelector('input[name="date"]'),
                    description: document.querySelector('textarea[name="description"]'),
                    author: document.getElementById('event_author'),
                    created: document.getElementById('event_created'),
                    id: document.getElementById('event_id'),
                    event_author: document.getElementById('event_author'),
                };
                editEventModal.addEventListener('show.bs.modal', (event) => {
                    const button = event.relatedTarget;
                    const uid = button.getAttribute('data-uid');
                    uidEventInput.value = uid;
                    document.getElementById('event_edit_modal_form').setAttribute('action', `/api/events/event/update/${uid}`);
                    fetch(`/api/events/event/${uid}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}',
                    },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                        console.error(data.error);
                        } else {
                            formEventFields.name.value = data.name || '';
                            //formEventFields.visibility.value = data.visibility || '';
                            formEventFields.place.value = data.place || '';
                            formEventFields.date.value = data.date || '';
                            formEventFields.description.textContent = data.description || '';
                            formEventFields.author.textContent  = data.author || '';
                            formEventFields.created.textContent  = data.created || '';
                            formEventFields.id.textContent  = data.id || '';
                            formEventFields.event_author.textContent  = data.username || '';
                            const visibility = document.getElementById('visibility');
                            if (visibility) {
                                for (let option of visibility.options) {
                                    if (option.value === data.visibility) {
                                        option.selected = true;
                                        break;
                                    }
                                }
                            }
                        }
                    })
                    .catch(error => console.error('An error occurred:', error));
                });

                const form = document.getElementById('event_edit_modal_form');
                const modal = new bootstrap.Modal(document.getElementById('editEventModal'));  // Bootstrap Modal Instanz

                form.addEventListener('submit', (event) => {
                    event.preventDefault(); 
                    const formData = new FormData(form);  
                    fetch(form.action, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token() }}'  
                        }
                    })
                    .then(response => response.json())  
                    .then(data => {
                        if (data.success) {
                            window.location.href = 'admin';
                        } else {
                            displayFlashMessages(data.errors || []);
                        }
                    })
                    .catch(error => {
                        console.error('Fehler:', error);
                        displayFlashMessages(['Ein Fehler ist aufgetreten. Womöglich fehlt dir die Berechtigung!']);
                    });
                });

            });
            function displayFlashMessages(messages) {
                const flashContainer = document.getElementById('flash-messages');
                flashContainer.innerHTML = '';  // Leere den Container vor dem Hinzufügen neuer Nachrichten

                if (messages.length > 0) {
                    const ul = document.createElement('ul');
                    ul.classList.add('error-message-list');
                    messages.forEach(message => {
                        const li = document.createElement('li');
                        li.classList.add('error-message');
                        li.textContent = message;
                        ul.appendChild(li);
                    });
                    flashContainer.appendChild(ul);
                }
            }
        </script>
    </div>



<!-- CREATE EVENT FORM -->
  <div style="display: flex; justify-content: center; align-items: center;" data-bs-theme="dark" style="color:white;">
    <div class="card" style="width: 100%; margin: 30px; padding: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" data-bs-theme="dark">
      <div class="card" id="teleport_event">
          <h3 id="hotlink_event_create">Event erstellen</h3>
          <form class="row g-2" method="POST" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div class="col-md-5">
                {{ form.name() }}
              </div>
              <div class="col-md-3">
                {{ form.date() }}
              </div>
              <div class="col-md-3">
                {{ form.place() }}
              </div>
              <div class="col-md-3">
                {{ form.visibility() }}
              </div>
              <div class="col-md-12">
                {{ form.description() }}
              </div>
              <div class="col-md-3">
                {{ form.file() }}
              </div>
              <div class="col-md-12">
                {{ form.submit() }}
              </div>
              {% if submitted %}
                <div>
                    Event wurde erstellt
                </div>
              {% endif %}
          </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}


