

{% extends "base.html" %}

{% block title %}
    Sia-planB.de
{% endblock %}

{% block content %}

<div style="padding:50px">


<h1>Impressum</h1>
Studenteninitiative Albstadt e.V.<br>
Poststraße 6<br>
72458 Albstadt<br>
Vereinsregister: 400419<br>
Registergericht: Amtsgerichts Stuttgart<br>
Vertreten durch:<br>
Pascal Zabée<br>
<h1>Kontakt</h1>
Telefon: 017687930541<br>
Telefax: -<br>
E-Mail: info@sia-planb.de<br>
<h1>Umsatzsteuer-ID</h1>
Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br>
53092/91895<br>
<h1>Redaktionell verantwortlich</h1>
Studenteninitiative Albstadt e.V.<br>
<h1>Verbraucherstreitbeilegung/Universalschlichtungsstelle</h1>
Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
Verbraucherschlichtungsstelle teilzunehmen.<br>
Quelle:
https://www.e-recht24.de
</div>

{% endblock %}