{% extends "base.html" %}

    {% block additionalstyle %}
    {% endblock %}

    {% block additionaljavascript %}
    {% endblock %}

    {% block content %}
    
    <div style="  display: flex; margin: 20px; justify-content: center; align-items: center;"><h1>Das Plan B. Der Dreh- und Angelpunkt des Vereins<br></h1></div>
    <div style="  display: flex; margin: 20px; justify-content: center; align-items: center;"><a href="{{url_for('contact')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Location mieten</a></div>
    <!-- Gallery -->
    <div class="row " style="max-width: 1920px; margin: 20px;">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
      src="/static/images/location/lernraum.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />

      <img
      src="/static/images/location/eingang.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
      <img
      src="/static/images/location/bild31.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />

    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="/static/images/location/kinoabend.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />


      <img
      src="/static/images/location/barbereich.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
    <img
    src="/static/images/location/liveband.jpg"
    class="w-100 shadow-1-strong rounded mb-4"
    alt=""
  />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">

      <img
      src="/static/images/location/blacklight.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  
      <img
      src="/static/images/location/terasse.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />

      <img
      src="/static/images/location/stpatrick.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div>
  </div>
  <!-- Gallery -->
    {% endblock %}