{% extends "base.html" %}

    {% block title %}
        Dummy title
    {% endblock %}

    {% block additionalstyle %}
    {% endblock %}

    {% block additionaljavascript %}
    {% endblock %}

    {% block content %}
    <style>
        input {
          padding: 5px;
          margin: 10px
        }
      </style>
      
      
      <div style="display: flex; justify-content: center; align-items: center;"data-bs-theme="dark">
        <div class="card" style="width: 50rem; margin: 30px; padding: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" data-bs-theme="dark">
          <h5 class="card-header">Ändere Deine Daten</h5>
          <form class="row g-2" method="POST" action="/register">
            {{ form.hidden_tag() }}
            <div class="col-md-3">
              {{ form.username }}
            </div>
            <div class="col-md-3">
              {{ form.surname }}
            </div>
            <div class="col-md-3">
              {{ form.lastname }}
            </div>
            <div class="col-md-12">
              {{ form.password }}
            </div>
            <div class="col-md-12">
              {{ form.password_confirm }}
            </div>
            <div class="col-md-5">
              {{ form.email }}
            </div>
            <div class="col-md-7">
              <label class="visually-hidden" for="inputRole">Rolle</label>
              {{ form.role }}
            </div>
            <div class="col-md-3">
              {{ form.street }}
            </div>
            <div class="col-md-1">
              {{ form.street_no }}
            </div>
            <div class="col-md-2">
              {{ form.city }}
            </div>
            <div class="col-md-1">
              {{ form.postalcode }}
            </div>
            <div class="col-12">
              {{ form.submit }}
            </div>
            <div>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class="error-message-list">
                      {% for message in messages %}
                          <p class="error-message">{{ message }}</p>
                      {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            </div>
      
          </form>
        </div>
      </div>
    {% endblock %}