{% extends "base.html" %}

    {% block additionalstyle %}
    {% endblock %}

    {% block additionaljavascript %}
    <script src="https://unpkg.com/html5-qrcode"></script>
    {% endblock %}

    {% block content %}


        <div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
            <div class="card" style="font-size: 20px; background-color: #212529; box-shadow: 0px 0px 8px rgba(83,83,83,.5);">
                <div class="card-body white_224"> 
                    <div id="reader" style="width: 100%; max-width: 300px;" class="reader"></div>
                </div>
            </div>
        </div>
        <div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
            <div class="card" style="width: 1000px; font-size: 20px; background-color: #212529; box-shadow: 0px 0px 8px rgba(83,83,83,.5);">
                <div id="registration-container" style="width: 100%; text-align: center; min-height: 100px;">
                    <table class="table table-dark table-striped sortable" style="width: 100%;">
                        <tr>
                            <th>Registrierung</th>
                            <th>Preis</th>
                            <th>Bezahlt</th>
                            <th>Validiert</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script>

            document.addEventListener("DOMContentLoaded", () => {

                document.addEventListener("click", async function (event) {
                    if (event.target.classList.contains("validate-btn")) {
                        const rmID = event.target.getAttribute("data-id");
                        const UserUID = event.target.getAttribute("data-user-uid");
                        await validate(rmID, UserUID);
                    }
                    if (event.target.classList.contains("paid-btn")) {
                        const rmID = event.target.getAttribute("data-id");
                        const UserUID = event.target.getAttribute("data-user-uid");
                        await paid(rmID, UserUID);
                    }
                    if (event.target.classList.contains("punch-btn")) {
                        const rmID = event.target.getAttribute("data-id");
                        const UserUID = event.target.getAttribute("data-user-uid");
                        await punch(rmID, UserUID);
                    }
                    if (event.target.classList.contains("unpaid-btn")) {
                        const rmID = event.target.getAttribute("data-id");
                        const UserUID = event.target.getAttribute("data-user-uid");
                        await unpaid(rmID, UserUID);
                    }
                });

                function sendToBackend(qr_uid) {
                    // Sending the request to backend to get user and registration details
                    fetch(`/api/user/get/scanner`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json',
                                    "X-CSRF-Token": "{{ csrf_token() }}",
                        },

                        body: JSON.stringify({ uid: qr_uid })
                    }).then(response => response.json())
                    .then(data => {
                        console.log("Backend Response:", data);
                        if (data.error) {
                            document.getElementById("registration-container").innerHTML = "<div class='card-body white_224' style='margin: 10px;'>Du besitzt keine Tickets.</div>";
                        } else {
                            renderRegistrations(data);
                        }
                    })
                    .catch(error => console.error("Error:", error));
                }

                function onScanSuccess(decodedText) {

                    let qrData = JSON.parse(decodedText); 
                    sendToBackend(qrData.uid);
                }
        

                new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 })
                    .render(onScanSuccess);




                async function punch(rmID,UserUID) {
                    try {
                        const response = await fetch(`/api/events/event/registration/punch/${rmID}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-Token": "{{ csrf_token() }}",
                            },
                        });
            
                        if (!response.ok) {
                            throw new Error("Failed to punch!");
                        }
            
                        const data = await response.json();
                        console.log("Punched:", data);
            
                        sendToBackend(UserUID);
                    } catch (error) {
                        console.error("Ticket Punch error:", error);
                    }
                }



                async function validate(rmID,UserUID) {
                    try {
                        const response = await fetch(`/api/events/event/registration/validate/${rmID}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-Token": "{{ csrf_token() }}",
                            },
                        });
            
                        if (!response.ok) {
                            throw new Error("Failed to validate!");
                        }
            
                        const data = await response.json();
                        console.log("validate:", data);
            
                        sendToBackend(UserUID);
                    } catch (error) {
                        console.error("Ticket validate error:", error);
                    }
                }



                async function paid(rmID,UserUID) {
                    try {
                        const response = await fetch(`/api/events/event/registration/paid/${rmID}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-Token": "{{ csrf_token() }}",
                            },
                        });
            
                        if (!response.ok) {
                            throw new Error("Failed to pay!");
                        }
            
                        const data = await response.json();
                        console.log("paid:", data);
            
                        sendToBackend(UserUID);
                    } catch (error) {
                        console.error("Ticket pay error:", error);
                    }
                }



                async function unpaid(rmID,UserUID) {
                    try {
                        const response = await fetch(`/api/events/event/registration/unpaid/${rmID}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-Token": "{{ csrf_token() }}",
                            },
                        });
            
                        if (!response.ok) {
                            throw new Error("Failed to unpay!");
                        }
            
                        const data = await response.json();
                        console.log("unpaid:", data);
            
                        sendToBackend(UserUID);
                    } catch (error) {
                        console.error("Ticket unpay error:", error);
                    }
                }

                function renderRegistrations(registrations) {
                    let container = document.getElementById("registration-container");
                    container.innerHTML = ""; // Clear existing content
            
                    // Check if registrations are available
                    if (registrations && registrations.length > 0) {
                        let registrationHTML = `
                            <div class="card-body white_224" style="margin: 10px;">Nutzer Anmeldungen</div>
                            <div class="card-body white_224" style="margin: 10px;">
                                <table class="table table-dark table-striped sortable" style="width: 100%;">
                                    <tr>
                                        <th class="hide-on-mobile">Registrierung</th>
                                        <th class="hide-on-mobile">Preis</th>
                                        <th class="hide-on-mobile">Bezahlt</th>
                                        <th class="hide-on-mobile">Validiert</th>
                                        <th class="hide-on-mobile"></th>
                                    </tr>`;
            
                        // Loop through each registration and create a row in the table
                        registrations.forEach(function(rm) {
                            registrationHTML += `
                                <tr>
                                    <td>
                                        ${rm.rm_name}
                                    </td>
                                    <td>
                                        ${rm.price ? rm.price : '-'}
                                    </td>
                                    ${rm.paid ? '<td style="color:green;">Bezahlt</td>' : '<td style="color:red;">Nicht bezahlt</td>'} 
                                    ${rm.valid ? '<td style="color:green;">Validiert</td>' : '<td style="color:red;">Entwertet</td>'} 

                                    <td>
                                        <button class="punch-btn btn btn-secondary" data-id="${rm.id}" data-user-uid="${rm.userUID}">Entwerten</button>
                                        <button class="validate-btn btn btn-secondary" data-id="${rm.id}" data-user-uid="${rm.userUID}">
                                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 7H14C17.3137 7 20 9.68629 20 13C20 16.3137 17.3137 19 14 19H4M4 7L8 3M4 7L8 11" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>    
                                        </button>
                                        <button class="paid-btn btn btn-secondary" data-id="${rm.id}" data-user-uid="${rm.userUID}">Bezahlt</button>
                                        <button class="unpaid-btn btn btn-secondary" data-id="${rm.id}" data-user-uid="${rm.userUID}">
                                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4 7H14C17.3137 7 20 9.68629 20 13C20 16.3137 17.3137 19 14 19H4M4 7L8 3M4 7L8 11" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>  
                                        </button>
                                    </tr>`;
                        });
            
                        registrationHTML += `</table></div>`;
            
                        container.innerHTML = registrationHTML;  // Add new content to the container
                    } else {
                        // If no registrations, display message
                        container.innerHTML = "<div class='card-body white_224' style='margin: 10px;'>Du besitzt keine Tickets.</div>";
                    }
                }
            });
        </script>
        <style>

            .html5-qrcode-element {
                width: 100%; 
                padding: .375rem .75rem; 
                border-radius: .25rem; 
                border: 1px solid #000000; 
                background-color: #444444; 
                font-size: 1rem; 
            }
            .reader button{
                padding: 2px;
                color: rgba(255, 255, 255, 0.795);
            }
            .reader select{
                padding: 2px;
                color: rgba(255, 255, 255, 0.795);
            }
        </style>
    {% endblock %}