{% extends "base.html" %}

    {% block additionalstyle %}
    <style>
    html5-qrcode-scanner select {
        width: 100%; /* or any desired width */
        padding: .375rem .75rem; /* Add padding to make it match Bootstrap's input */
        border-radius: .25rem; /* Border radius for Bootstrap-style appearance */
        border: 1px solid #ced4da; /* Border color from Bootstrap */
        background-color: #fff; /* Background color from Bootstrap */
        font-size: 1rem; /* Ensure font size matches Bootstrap */
    }
    </style>

    {% endblock %}

    {% block additionaljavascript %}
    <script src="https://unpkg.com/html5-qrcode"></script>
    {% endblock %}

    {% block content %}

        <div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
            <div class="card" style="font-size: 20px; background-color: #747474; box-shadow: 0px 0px 8px rgba(83,83,83,.5);">
                <div class="card-body white_224"> 
                    <div id="reader" style="width: 300px;"></div>
                </div>
            </div>
        </div>
        <div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
            <div class="card" style="width: 1000px; font-size: 20px; background-color: #747474; box-shadow: 0px 0px 8px rgba(83,83,83,.5);">
                <div id="registration-container" style="width: 100%; text-align: center;">
                    <table style="width: 100%;">
                        <tr>
                            <th>Registrierung</th>
                            <th>Preis</th>
                            <th>Bezahlt</th>
                            <th>Validiert</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script>

            document.addEventListener("DOMContentLoaded", () => {

                document.addEventListener("click", async function (event) {
                    if (event.target.classList.contains("validate-btn")) {
                        const rmID = event.target.getAttribute("data-id");
                        const UserUID = event.target.getAttribute("data-user-uid");
                        await validate(rmID, UserUID);
                    }
                    if (event.target.classList.contains("paid-btn")) {
                        const rmID = event.target.getAttribute("data-id");
                        const UserUID = event.target.getAttribute("data-user-uid");
                        await paid(rmID, UserUID);
                    }
                    if (event.target.classList.contains("punch-btn")) {
                        const rmID = event.target.getAttribute("data-id");
                        const UserUID = event.target.getAttribute("data-user-uid");
                        await punch(rmID, UserUID);
                    }
                    if (event.target.classList.contains("unpaid-btn")) {
                        const rmID = event.target.getAttribute("data-id");
                        const UserUID = event.target.getAttribute("data-user-uid");
                        await unpaid(rmID, UserUID);
                    }
                });

                function sendToBackend(qr_uid) {
                    // Sending the request to backend to get user and registration details
                    fetch(`/api/user/get/scanner`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json',
                                    "X-CSRF-Token": "{{ csrf_token() }}",
                        },

                        body: JSON.stringify({ uid: qr_uid })
                    }).then(response => response.json())
                    .then(data => {
                        console.log("Backend Response:", data);
                        if (data.error) {
                            document.getElementById("registration-container").innerHTML = "<div class='card-body white_224' style='margin: 10px;'>Du besitzt keine Tickets.</div>";
                        } else {
                            renderRegistrations(data);
                        }
                    })
                    .catch(error => console.error("Error:", error));
                }

                function onScanSuccess(decodedText) {
                    // Parse decodedText from JSON
                    let qrData = JSON.parse(decodedText); // Assuming the QR code contains a JSON string
                    sendToBackend(qrData.uid);
                }
        
            // Initialize the QR code scanner
                new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 })
                    .render(onScanSuccess);




                async function punch(rmID,UserUID) {
                    try {
                        const response = await fetch(`/api/events/event/registration/punch/${rmID}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-Token": "{{ csrf_token() }}",
                            },
                        });
            
                        if (!response.ok) {
                            throw new Error("Failed to punch!");
                        }
            
                        const data = await response.json();
                        console.log("Punched:", data);
            
                        sendToBackend(UserUID);
                    } catch (error) {
                        console.error("Ticket Punch error:", error);
                    }
                }



                async function validate(rmID,UserUID) {
                    try {
                        const response = await fetch(`/api/events/event/registration/validate/${rmID}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-Token": "{{ csrf_token() }}",
                            },
                        });
            
                        if (!response.ok) {
                            throw new Error("Failed to validate!");
                        }
            
                        const data = await response.json();
                        console.log("validate:", data);
            
                        sendToBackend(UserUID);
                    } catch (error) {
                        console.error("Ticket validate error:", error);
                    }
                }



                async function paid(rmID,UserUID) {
                    try {
                        const response = await fetch(`/api/events/event/registration/paid/${rmID}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-Token": "{{ csrf_token() }}",
                            },
                        });
            
                        if (!response.ok) {
                            throw new Error("Failed to pay!");
                        }
            
                        const data = await response.json();
                        console.log("paid:", data);
            
                        sendToBackend(UserUID);
                    } catch (error) {
                        console.error("Ticket pay error:", error);
                    }
                }



                async function unpaid(rmID,UserUID) {
                    try {
                        const response = await fetch(`/api/events/event/registration/unpaid/${rmID}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRF-Token": "{{ csrf_token() }}",
                            },
                        });
            
                        if (!response.ok) {
                            throw new Error("Failed to unpay!");
                        }
            
                        const data = await response.json();
                        console.log("unpaid:", data);
            
                        sendToBackend(UserUID);
                    } catch (error) {
                        console.error("Ticket unpay error:", error);
                    }
                }

                function renderRegistrations(registrations) {
                    let container = document.getElementById("registration-container");
                    container.innerHTML = ""; // Clear existing content
            
                    // Check if registrations are available
                    if (registrations && registrations.length > 0) {
                        let registrationHTML = `
                            <div class="card-body white_224" style="margin: 10px;">Nutzer Anmeldungen</div>
                            <div class="card-body white_224" style="margin: 10px;">
                                <table style="width: 100%;">
                                    <tr>
                                        <th>Registrierung</th>
                                        <th>Preis</th>
                                        <th>Bezahlt</th>
                                        <th>Validiert</th>
                                    </tr>`;
            
                        // Loop through each registration and create a row in the table
                        registrations.forEach(function(rm) {
                            registrationHTML += `
                                <tr>
                                    <td>
                                        ${rm.rm_name}
                                    </td>
                                    <td>
                                        ${rm.price ? rm.price : '-'}</td>
                                    <td>
                                        ${rm.paid ? 'Bezahlt' : 'Nicht bezahlt'} 
                                    </td>
                                    <td>
                                        ${rm.valid ? 'Validiert' : 'Entwertet'} 
                                    </td>
                                    <td>
                                        <button class="punch-btn btn btn-secondary" data-id="${rm.id}" data-user-uid="${rm.userUID}">Entwerten</button>
                                        <button class="validate-btn btn btn-secondary" data-id="${rm.id}" data-user-uid="${rm.userUID}">Validieren</button>
                                        <button class="paid-btn btn btn-secondary" data-id="${rm.id}" data-user-uid="${rm.userUID}">Bezahlt</button>
                                        <button class="unpaid-btn btn btn-secondary" data-id="${rm.id}" data-user-uid="${rm.userUID}">Unbezahlt</button>
                                    </tr>`;
                        });
            
                        registrationHTML += `</table></div>`;
            
                        container.innerHTML = registrationHTML;  // Add new content to the container
                    } else {
                        // If no registrations, display message
                        container.innerHTML = "<div class='card-body white_224' style='margin: 10px;'>Du besitzt keine Tickets.</div>";
                    }
                }
            });
        </script>
    {% endblock %}