{% extends "base.html" %}

{% block additionalstyle %}
<style>

@media (max-width: 768px) {
  .tickets {
      width:90%;
  }
}

.tickets {
      width:50%;
  }

  img {
    width: 100%; /* Scales to fit the parent container */
    height: auto; /* Keeps the aspect ratio */
    display: block; /* Removes extra space below the image */
}
</style>
{% endblock %}

{% block additionaljavascript %}
{% endblock %}

{% block content %}

    <div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
        <div class="card" style="font-size: 20px; background-color: #848484; box-shadow: 0px 0px 8px rgba(83,83,83,.5);">
            <div class="card-body white_224"> 
                CheckIn
            </div>
            <div class="card-body" style="margin: auto;">
                <section style="display: inline-block; margin:auto;">
                    <img src="{{ qrcode(  qrcode_string  ) }}">
                </section>
            </div>
        </div>
    </div>

    <div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
        <div class="card" style="width: 1000px; font-size: 20px; background-color: #212529; box-shadow: 0px 0px 8px rgba(83,83,83,.5);">
            {% if registrations %} 
                <div class="card-body white_224" style="margin: 10px;"> 
                    Deine Anmeldungen:
                </div>
                <div class="card-body white_224" style="margin: 10px;">
                    <table style="width: 100%;">
                        <tr>
                            <th>Anmeldung</th>
                            <th>Preis</th>
                            <th>Bezahlt</th>
                            <th>Gültig</th>
                        </tr>
                {% for rm in registrations %}
                        <tr>
                            <td>{{ rm.rm_name }}</td>
                            {% if rm.price %}
                                <td data-label="Preis">{{ rm.price }}</td>
                                {% if rm.paid %}
                                <td style="color:green;">Bezahlt</td>
                                {% else %}
                                <td style="color:red;">Nicht bezahlt</td>
                                {% endif %}
                                {% if rm.valid %}
                                <td style="color:green;">Gültig</td>
                                {% else %}
                                <td style="color:red;">Entwertet</td>
                                {% endif %}
                            {% else %}  
                                <td>-</td>
                                <td>-</td>
                                {% if rm.valid %}
                                <td style="color:green;">Gültig</td>
                                {% else %}
                                <td style="color:red;">Entwertet</td>
                                {% endif %}
                            {% endif %}
                        </tr>

                {% endfor %}
                        </table>
                    </div>
            {% else %}  
                <div class="card-body white_224" style="margin: 10px;">
                    Du besitzt keine Tickets.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}