{% extends "base.html" %}

    {% block title %}
        Verein
    {% endblock %}

    {% block additionalstyle %}
    {% endblock %}

    {% block additionaljavascript %}
    {% endblock %}

    {% block content %}

<section class="white_224">
  <div style="margin-top: 50px; margin-bottom: 50px; text-align: center;">
    <h1 style="text-shadow: 0px 0px 3px rgb(102, 102, 102);">Willkommen bei der Studenteninitiative Albstadt e.V.</h1>
  </div>
  <div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
    <div class="card" style="width: 1000px; font-size: 20px; background-color: #747474; box-shadow: 0px 0px 8px rgba(83,83,83,.5);">
      <div class="card-body" style="margin: 10px;">
        <p class="card-text white_224">   Wir sind ein <b>studentischer Verein</b>, der das Campusleben mit Leidenschaft bereichert. Unser Herzstück ist die Bar <b> "Plan B"</b>, ein Treffpunkt für Partys, kulturelle Events und vieles mehr. Die Mitarbeit ist ehrenamtlich – jede helfende Hand macht unser Projekt einzigartig.

          Bei uns bist du willkommen, egal ob du Ideen einbringen, mit anpacken oder einfach Teil der Gemeinschaft sein möchtest. <b>Transparenz</b> und <b>Offenheit</b> sind uns wichtig – jeder kann mitmachen oder einfach die Veranstaltungen genießen.
          
          <b> Warum Mitglied werden?</b>
          Niemand zwingt dich, aber bereuen wirst du es nicht! Unser <b>Netzwerk</b> verbindet Studierende aller Semester bis hin zu <b> Dozenten </b> – einer davon war selbst einst ein aktives Mitglied des Vereins! Du lernst tolle Menschen kennen, die du sonst nur aus der Mensaschlange kennst.
          
          Es gibt aktive Mitglieder, die den Laden am Laufen halten, und viele passive, die das <b> Vereinsleben </b> einfach schätzen. Offiziell kannst du beitreten – eine reine Formalität. Als e.V. führen wir Buch, halten Mitgliederversammlungen ab und wählen einen Ausschuss.<br> <b> Kosten </b> oder <b>  Verpflichtungen?  Keine!</b>
          
          Komm vorbei – wir freuen uns auf dich! <br>
          📷 Instagram: sia_albstadt</p>
      </div>
    </div>
  </div>
  <div style="display: flex; margin: 50px 0px 30px 0px; justify-content: center; align-items: center;">
    <h1 style="margin:auto; text-shadow: 0px 0px 3px rgb(102, 102, 102);">Was sagen die Mitglieder?</h1>
  </div>
  <div class="bubble-div">
    <div class="make-space">
      <div class="bub" speech-bubble pright abottom style="--bbColor:#423F3E">
        <div class="title">
          Tobias, Sia-Alumni, 2019
        </div>
          Seit 2019 bin ich mit Begeisterung Mitglied der SIA, davon bis 2023 aktiv und nun eher passiv beteiligt.
          Die SIA bietet fantastische Gelegenheiten, wertvolle Kontakte zwischen Studierenden und Professoren zu 
          knüpfen und Unterstützung aus verschiedenen Fachrichtungen zu erhalten.
            Die SIA bedeutet mir nach wie vor sehr viel und hat mein Studium sehr bereichert.
      </div>
    </div>
    <div class="make-space">
      <div class="bub" speech-bubble pleft abottom style="--bbColor:#362222">
        <div class="title">
          Leon, aktives Mitglied, 2022
        </div>
        Ich bin der Sia in meinem 2. semester beigetreten, 
        für mich hat der Beitritt Anfangs keinen großen Unterschied in meinem Studium gemacht, 
        bis dann die Klausurenphase kam und man sich dann doch in der Sia intern zum lernen getroffen hat,
          was einen motiviert hat. (das war so der erste wow moment)
        nachdem man sich so ein bisschen kannte war alles auch ein bisschen entspannter.
        Erfahrungen gab es so einige und ich bin froh beigetreten zu sein.
      </div>
    </div>
    <div class="make-space">
      <div class="bub" speech-bubble pright abottom style="--bbColor:#2B2B2B"> 
        <div class="title">
          Simon, a.k.a der Saarländer und Sia-Alumni, 2022
        </div>
          Von Anfang an hatte ich eine Anlaufstelle mit super netten Leuten, 
          die mir den Start total erleichtert haben. 
          Durch die SIA hatte ich eine wundervolle Zeit, voller Spaß und guter Erinnerungen.
          Aus der anfangs fremden Umgebung wurde schnell ein Zuhause.
      </div>
    </div>
    <div class="make-space">
      <div class="bub" speech-bubble pleft abottom style="--bbColor:#423F3E">
        <div class="title">
          Andra, aktives Mitglied, 2021 beitritt im 1.Semester
        </div>
        In Albstadt ist die Sia der einzige Ort den man Leute kennen lernen kann, 
        wo man Lebenslange Freundschaften aufbaut. 
        Währen der Vorlesungen hat man nicht wirklich die Möglichkeit, 
        selbst wenn man ständig mit seinen Kommillitonen in Kontakt ist.
        Es ist etwas ganz anderes wenn man außerhalb der Hochschule was unternimmt 
        mit der Möglichkeit Leute kennen zu lernen.
        Anfangs wusste ich noch nicht so recht, wohin mit mir und war sogar etwas schüchtern. 
        Die Sia ist mir in der Hinsicht sehr entgegen gekommen,
        # da die Mitglieder offen auf Leute zugegangen sind.
        Ich hatte dann sehr schnell Spaß daran gefunden,
          als Barfrau in den Kontakt mit Gästen und anderen Mitgliedern zu treten.
        Es ist aufjedenfall das Highlight in Albstadt!
        (Aus redaktionellen Gründen umformuliert.)
      </div>
    </div>
    <div class="bubble-div">
      <div class="make-space">
        <div class="bub" speech-bubble pright abottom style="--bbColor:#362222">
          <div class="title">
            Marc, Sia-Alumni, 2018
          </div>
          Noch in meinem 1. Semester, bin ich der SIA beigetreten und wurde sofort herzlich von den Mitgliedern aufgenommen. 
          Da der Verein während meines Studiums wie eine zweite Familie war, habe ich schnell Verantwortung im Vorstand und Ausschuss übernommen. 
          Nicht nur habe ich viel fürs Studium gelernt, sondern auch fürs Leben und zehre bis heute von den Erfahrungen. 
          Ich bin zwar mittlerweile “nurnoch” ein Alumni, schaue aber gerne noch im Plan B vorbei. 
          Und die Liebe, die ich im Verein getroffen habe, bleibt mir bis heute an meiner Seite.
        </div>
      </div>
  </div>
  <div style="margin-top: 50px; margin-bottom: 50px; text-align: center;">
    <h1 style="text-shadow: 0px 0px 3px rgb(102, 102, 102);">Geschichtsstunde</h1>
  </div>
  <div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
    <div class="card" style="width: 1000px; font-size: 20px; background-color: #747474; box-shadow: 0px 0px 8px rgba(83,83,83,.5);">
      <div class="card-body" style="margin: 10px;">
        <p class="card-text white_224">   
          <br>
          <h3 class="white_224">Gründung - 1990</h3>
          <p class="white_224">
            Anfänge der Studenteninitiative Albstadt gehen auf das Frühjahr 1990 zurück und begründen sich darin, dass es zu dieser Zeit am Hochschulstandort Albstadt noch keine Vertretung der Studenten durch einen AStA gab. Aus diesem Grund kam die Idee einer Studenteninitiative zur Wahrung von studentischen Interessen auf.
            Am 28.05.1990 war es dann soweit, im Zuge einer Feier wurde an diesem Tag die Gründung der Studenteninitiative Albstadt e.V.  gefeiert.  Da die SIA im Gegensatz zur in den folgenden Jahren auch in Albstadt etablierten AStA, kein Hochschulorgan bildet, sondern durch die Eintragung ins Vereinsregister und den daraus resultierenden Zusatz e.V. einen eigenständigen Verein darstellt, besteht keinerlei organisatorische Bindung zur Hochschule. Der größte Vorteil in diesem Punkt liegt in der freien Gestaltung von Events, Anschaffungen oder Organisationsstrukturen, unabhängig von Hochschule oder dem Hochschulgesetz.
            Nichts desto trotz wurde zur Gründung der Zweck des Vereins mit den folgenden Worten festgelegt:
            „Die STUDENTENINITIATIVE ALBSTADT bezweckt: Die Unterstützung der Albstädter Studenten in fachlichen, kulturellen und sozialen Angelegenheiten, die Förderung des Ansehens der Hochschule Albstadt-Sigmaringen (Standort Albstadt) durch Öffentlichkeitsarbeit und Industriekontakte.“
            Während der letzten 20 Jahre hat sich das Aufgabenspektrum, welches immer nach dem Motto „von Studenten für Studenten“ gestaltet wurde, immer wieder gewandelt und weiterentwickelt.
          </p>
          <h3 class="white_224">Studententreffpunkt - 2000</h3>
          <p class="white_224">
            Durch Initiative des damaligen Vorstandes und einigen freiwilligen Helfern wurde im Spätsommer 2000 dann erstmals ein Studententreffpunkt im Keller der Villa Weiß (Verwaltungsgebäude am Standort Albstadt) aufgebaut. Dank zweier üppiger Spenden und großer unentgeltlicher Arbeitsleistungen war es möglich, den direkt an das AStA-Büro angrenzenden Raum mit einer Bar und Sitzgelegenheiten auszustatten.
            Schon bald fanden in der „SIA-Bar“ wöchentliche Treffen statt. Anfänglich mit schwacher Resonanz von Seite der Studentenschaft, mauserte sie sich zusehends zu einem populären Treffpunkt für Studenten aus allen Fachbereichen.
            Bis in den November 2001, also etwa ein Jahr nach Einweihung, konnte sich der „Donnerstagabend“ endgültig etablieren. Hohe Besucherzahlen und gut gelaunte Partygäste belegten dies eindeutig.
            Leider musste die Hochschulverwaltung die Genehmigung für die wöchentlichen Treffen dann aber zurückziehen. Der Grund dafür war, dass sich ebenfalls in den zugänglichen Räumen für die Abendveranstaltungen auch ein Sicherungskasten für die Serverräume befand. Dies führte früher oder später zu „studentischem Schabernack“, der verständlicherweise für die IT-Infrastruktur der Hochschule keineswegs als Spaß zu verstehen war.
            Trotz alledem waren sich Hochschulverwaltung und Studenten darin einig, dass die studentischen Treffen eine allgemein vorteilhafte Angelegenheit darstellten und sobald als möglich eine andere Lokalität als Treffpunkt gefunden werden müsste.
          </p>
          <h3 class="white_224">Die Ladezone – 2002</h3>
          <p class="white_224">
            Nach Besichtigung verschiedener Lokalitäten in Hochschulnähe fiel die Wahl auf die Anmietung von Räumen im Erdgeschoss des Haux-Gebäudes. Nachdem unter Leitung des 1. Vorsitzenden die Formalitäten (Mietvertrag, Versicherungsschutz, Genehmigungen der Stadt Albstadt und des Wirtschaftskontrolldienstes) abgewickelt waren, machte sich das SIA-Bauteam und freiwillige Helfer daran, die Baranlage im Keller der Villa Weiß zu demontieren, in den neuen Räumen aufzubauen und zu erweitern.
            Durch die nun neu gewonnene Fläche, welche gegenüber der alten „SIA-Bar“ beträchtlich gewachsen war (der angemietet Raum hatte immerhin 140qm), konnten neben der Bar noch eine großzügige Beleuchtung, Musikanlage, einige Sofas und Regale ihren Platz finden.
            Die offizielle Eröffnung fand am 10. April 2002 statt. Dies geschah in einem geladenen Kreis, bestehend aus Professoren, Angestellten der Hochschule und Mitglieder von SIA/AStA. Am Folgetag wurden die Türen auch für die Studierenden geöffnet.
            Das freiwillige Engagement vieler Helfer ermöglichte es, die „Ladezone“ wöchentlich dienstags und donnerstags abends exklusiv für die Studierenden zu öffnen.
            Der Umstand, dass bereits die Einnahmen des ersten Semesters kostendeckend waren, bewies dass der neue Treffpunkt schnell auf große Akzeptanz stieß. Insbesondere die Donnerstagabende waren mit teilweise 200 Gästen sehr gut besucht und brachten die neue Fläche schnell an ihre genehmigten Grenzen.
            Über den Zeitraum von 6 Jahren konnten noch viele solcher Partys in der Ladezone von Studenten aus allen Studienrichtungen gefeiert werden. Auch um Professoren und Mitarbeiter wurde sich zu jedem neuen Semester im Rahmen eines Empfangs gekümmert. Bei Buffet und Getränken wurde im, großen Kreise über Angelegenheiten der Hochschule, der SIA aber auch über viele Themen außerhalb des täglichen Campuslebens gesprochen.
          </p>
          <h3 class="white_224">Die Ladezone - 2009</h3>
          <p class="white_224">
            Mit den aufkeimenden Plänen der Hochschule, die Flächen im Erdgeschoss des Haux-Gebäudes zu nutzen, hing in diesen Jahren das sprichwörtliche Schwert des Damokles immer drohender über dem Studententreffpunkt. Zum 31.03.2009 wurde dann letztendlich das Mietverhältnis aufgelöst, um mit den Umbauarbeiten des Stockwerks für Hochschulzwecke beginnen zu können.
            Ein regelmäßiger Betrieb war allerdings bedingt durch Unstimmigkeiten mit dem Ordnungsamt der Stadt Albstadt, schon seit Mitte Juni 2008 nicht mehr möglich. Ab Oktober des Jahres musste das Vereinslokal geschlossen bleiben. Trotz vieler Gespräche im Büro des Amtes für öffentliche Ordnung konnte kein Konsens gefunden werden, in welchem Rahmen die Ladezone für die letzten Monate geöffnet werden könnte.
          </p>

      </div>
    </div>
  </div>
</section>



    




<style>

b {
  color:rgb(236, 236, 236);
}

.bubble-div{
  margin:10px;
  padding: 10px;

}

.bub{
  max-width: 1000px;
  min-width: 320px;
  flex-direction: column;
  background-color: grey;
}

.make-space{
  padding: 20px;
  width: 100%;
  display: flex;  
  justify-content: center; 
  align-items: center;
}

  [speech-bubble], [speech-bubble] * { box-sizing: border-box }

[speech-bubble]{
  --bbColor: grey;
  --bbArrowSize: 1.5rem;
  --bbBorderRadius: 0.25rem;
  --bbPadding: 1rem;
  background: var(--bbColor);
  border-radius: var(--bbBorderRadius);
  padding: var(--bbPadding);
  position: relative;
}

[speech-bubble]::before{
  content: ''; 
  position: absolute;
  background: var(--bbColor);
}

[speech-bubble][pbottom]{ margin-bottom: var(--bbArrowSize) }
[speech-bubble][ptop]   { margin-top: var(--bbArrowSize); }
[speech-bubble][pleft]  { margin-left: var(--bbArrowSize); }
[speech-bubble][pright] { margin-right: var(--bbArrowSize); }


/* bottom and top  */
[speech-bubble][pbottom]::before,
[speech-bubble][ptop]::before{
  --width: calc(var(--bbArrowSize) / 2 * 3);
  height: var(--bbArrowSize);
  width: var(--width);
}

/* bottom */
[speech-bubble][pbottom]::before{
  top: calc(100% - 2px);
}
[speech-bubble][pbottom][aleft]::before{
  left: 1rem;
  clip-path: polygon(25% 0, 100% 0, 0% 100%)
}
[speech-bubble][pbottom][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 0, 87.5% 0, 50% 100%)
}
[speech-bubble][pbottom][aright]::before{
  right: 1rem;
  clip-path: polygon(0 0, 75% 0, 100% 100%)
}

/* top */
[speech-bubble][ptop]::before{
  bottom: calc(100% - 2px);
}
[speech-bubble][ptop][aleft]::before{
  left: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 25% 100%)
}
[speech-bubble][ptop][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 100%, 50% 0, 87.5% 100%)
}
[speech-bubble][ptop][aright]::before{
  right: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 75% 100%)
}

/* left and right  */
[speech-bubble][pleft]::before,
[speech-bubble][pright]::before{
  --height: calc(var(--bbArrowSize) / 2 * 3);
  width: var(--bbArrowSize);
  height: var(--height);
}

/* right */
[speech-bubble][pright]::before{
  left: calc(100% - 2px);
}
[speech-bubble][pright][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(100% 0, 0 100%, 0 25%)
}
[speech-bubble][pright][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 12.5%, 100% 50%, 0 87.5%)
}
[speech-bubble][pright][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 0 75%)
}

/* left */
[speech-bubble][pleft]::before{
  right: calc(100% - 2px);
}
[speech-bubble][pleft][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(0 0, 100% 25%, 100% 100%)
}
[speech-bubble][pleft][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
}
[speech-bubble][pleft][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 100% 75%)
}

/* flip */
[speech-bubble][pbottom][flip]::before,
[speech-bubble][ptop][flip]::before{
  transform: scaleX(-1)
}
[speech-bubble][pleft][flip]::before,
[speech-bubble][pright][flip]::before{
  transform: scaleY(-1)
}





/* for demo */
.speech-bubble {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  box-sizing: border-box;
  cursor: default
}
body{
  max-width: 100%;
  display:grid;
  grid-template-areas:
    'br bc bl'
    'rb cc lb'
    'rc cc lc'
    'rt cc lt'
    'tr tc tl';
  gap: 2rem;
  background: #141518;
}

.middle{
  grid-area: cc;
  align-self: center;
  justify-self: center;
  text-align:center;
  color: white;
}

[speech-bubble][pbottom][aleft]   {grid-area: bl}
[speech-bubble][pbottom][acenter] {grid-area: bc}
[speech-bubble][pbottom][aright]  {grid-area: br}

[speech-bubble][pright][atop]     {grid-area: rt}
[speech-bubble][pright][acenter]  {grid-area: rc}
[speech-bubble][pright][abottom]  {grid-area: rb}

[speech-bubble][pleft][atop]      {grid-area: lt}
[speech-bubble][pleft][acenter]   {grid-area: lc}
[speech-bubble][pleft][abottom]   {grid-area: lb}

[speech-bubble][ptop][aleft]      {grid-area: tl}
[speech-bubble][ptop][acenter]    {grid-area: tc}
[speech-bubble][ptop][aright]     {grid-area: tr}

[speech-bubble][pbottom],
[speech-bubble][ptop]{margin: 0}

[speech-bubble]{ 
  filter: drop-shadow(0px 0px 0.2rem black);
  transition: transform 0.25s ease
}
[speech-bubble]:hover{
  transform: scale(1.05);
  filter: 
    drop-shadow(0px 0px 0.2rem black)
    drop-shadow(0px 0px 1rem var(--bbColor));
}

[speech-bubble] .title{
  font-weight: 600;
  color: white; 
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0.5rem
}
[speech-bubble] code {
  background: white;
  margin: 0.125rem;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  white-space: nowrap;
  font-size: .9rem
}

.middle code{
  font-size: 1rem;
}

</style>
    {% endblock %}