{% extends "base.html" %}

    {% block title %}
        Verein
    {% endblock %}

    {% block additionalstyle %}
    {% endblock %}

    {% block additionaljavascript %}
    {% endblock %}

    {% block content %}



<div style="margin-top: 50px; margin-bottom: 50px; text-align: center;">

  <h1>Willkommen bei der Studenteninitiative Albstadt e.V.</h1>

</div>




<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="{{url_for('static', filename='images/verein/IMG_2341.jpg')}}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <div style="display:flex; justify-content: center; text-align: center;">
        <div>
          <p>
            Wir sind ein Verein von Studierenden für Studierende, der sich mit Leidenschaft dafür einsetzt, 
            das Campusleben bunter, lebendiger und abwechslungsreicher zu gestalten. <br>
            Unser Herzstück ist unsere eigene Bar, das "Plan B", ein Ort, an dem Partys,
             kulturelle Events und zahlreiche andere Veranstaltungen für Studierende stattfinden.<br>
          
            Die Mitarbeit in unserem Verein ist ehrenamtlich – jede helfende Hand zählt und macht 
            unser gemeinsames Projekt zu etwas Besonderem. Egal, ob du kreative Ideen einbringen,
            tatkräftig mit anpacken oder einfach nur Teil einer engagierten Gemeinschaft sein möchtest: <br>
            Bei uns bist du herzlich willkommen!<br>
          
            Transparenz und Offenheit stehen bei uns an erster Stelle. Unser Verein ist für alle zugänglich,
            die Lust haben, sich zu engagieren oder einfach nur die Veranstaltungen im "Plan B" genießen möchten.<br>
            Gemeinsam schaffen wir einen Raum, in dem sich Studierende begegnen, 
            austauschen und gemeinsam unvergessliche Momente erleben können.<br>
          
            Komm vorbei – wir freuen uns auf dich!<br>
            Instagram: sia_albstadt
          
            </p>
        </div>
      </div>
      <img
       src="{{url_for('static', filename='images/verein/IMG_2737.jpg')}}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds"
      />
    </div>

  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
      src="{{url_for('static', filename='images/verein/IMG_2526.jpg')}}"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
    </div>
  </div>
  <!-- Gallery -->

  <h1>Mitgliedschaft? Wieso?</h1>
  <p>Zwingen wird dich keiner, aber bereuen wirst du es nicht!</p>
  <p>Sie bedeutet nicht "drin" oder "draussen". Sie ist ein engmaschiges Netz und erstreckt sich vertikal in Tiefere Semester und Höhere bis hin zu den Dozenten. Ein Dozent hier an der Hochschule war vor vielen Jahren ein Mitbegründer des Vereins!</p>
  <p>Man lernt vor allem tolle Menschen aus anderen Studiengängen kennen, die man sonst nur einmal die Woche in der Mensaschlange sieht.</p>
  <p>Es gibt den "inner circle", also die Jungs und Mädels die den Laden am laufen halten. Die meisten sehen sich jedoch als passives Mitglied, wie Stammgäste, die den Wert des Vereinsleben zu schätzen wissen.
    Auch wenn man dich nur selten antrifft, aber doch gut genug kennt, bist du irgendwie auch "Sia". Offiziell kann man uns auch beitreten, das ist meist aber eher eine Formalität.<br>
    Denn als e.V. müssen wir Buchführen, Mitgliederversammlungen halten und aus unserer Mitte einen 7-köpfigen Ausschuss wählen. Kosten oder Verpflichtungen gibt es keine!
  </p>
  <div>
    <h1>Was sagen die Mitglieder?</h1>
    <div>
      <p>Tobias, Sia-Alumni, 2019 </p>
      <p>Seit 2019 bin ich mit Begeisterung Mitglied der SIA, davon bis 2023 aktiv und nun eher passiv beteiligt. Die SIA bietet fantastische Gelegenheiten, wertvolle Kontakte zwischen Studierenden und Professoren zu knüpfen und Unterstützung aus verschiedenen Fachrichtungen zu erhalten. Die SIA bedeutet mir nach wie vor sehr viel und hat mein Studium sehr bereichert.</p>
    </div>
    <div>
      <p> Leon, aktives Mitglied, 2022</p>
      <p>also ich bin der sia in meinem 2. semester beigetreten das ist jetzt 4 semester her.
        für mich hat der beitritt anfangs keinen großen unterschied in meinem studium gemacht, bis dann die klausurenphase kam und man sich dann doch in der sia intern zum lernen getroffen hat, was einen motiviert hat. (das war so der erste wow moment)
        nachem man sich so ein bisschen kannte war alles auch ein bisschen entspannter.
         Erfahrungen gab es so einige und ich bin froh beigetreten zu sein.
      </p>
    </div>
    <div>
      <p>Simon, a.k.a der Saarländer und Sia-Alumni, 2022</p>
      <p>Von Anfang an hatte ich eine Anlaufstelle mit super netten Leuten, die mir den Start total erleichtert haben. 
        Durch die SIA hatte ich eine wundervolle Zeit, voller Spaß und guter Erinnerungen. Aus der anfangs fremden Umgebung wurde schnell ein Zuhause.
      </p>
    </div>
    <div>
      <p>Andra, aktives Mitglied, 2021, 1.Semester</p>
      <p>
        In Albstadt ist die Sia der einzige Ort den man Leute kennen lernen kann, wo man Lebenslange Freundschaften aufbaut. 
        Währen der Vorlesungen hat man nicht wirklich die Möglichkeit, selbst wenn man ständig mit seinen Kommillitonen in Kontakt ist.
        Es ist etwas ganz anderes wenn man außerhalb der Hochschule was unternimmt mit der Möglichkeit Leute kennen zu lernen.
        Anfangs wusste ich noch nicht so recht, wohin mit mir und war sogar etwas schüchtern. 
        Die Sia ist mir in der Hinsicht sehr entgegen gekommen, da die Mitglieder offen auf Leute zugegangen sind.
        Ich hatte dann sehr schnell Spaß daran gefunden, als Barfrau in den Kontakt mit Gästen und anderen Mitgliedern zu treten.
        Es ist aufjedenfall das Highlight in Albstadt!<br>
        (Aus redaktionellen Gründen umformuliert.)


      </p>
    </div>
    </div>
    {% endblock %}