{% extends "base.html" %}

    {% block title %}
        Verein
    {% endblock %}

    {% block additionalstyle %}
    {% endblock %}

    {% block additionaljavascript %}
    {% endblock %}

    {% block content %}



<div style="margin-top: 50px; margin-bottom: 50px; text-align: center;">

  <h1>Willkommen bei der Studenteninitiative Albstadt e.V.</h1>

</div>






<div style="display: flex; margin: 20px; justify-content: center; align-items: center; text-align: center;">
  <div style="max-width: 1000px;">
    Wir sind ein <b>studentischer Verein</b>, der das Campusleben mit Leidenschaft bereichert. Unser Herzstück ist die Bar <b> "Plan B"</b>, ein Treffpunkt für Partys, kulturelle Events und vieles mehr. Die Mitarbeit ist ehrenamtlich – jede helfende Hand macht unser Projekt einzigartig.

    Bei uns bist du willkommen, egal ob du Ideen einbringen, mit anpacken oder einfach Teil der Gemeinschaft sein möchtest. <b>Transparenz</b> und <b>Offenheit</b> sind uns wichtig – jeder kann mitmachen oder einfach die Veranstaltungen genießen.
    
    <b> Warum Mitglied werden?</b>
    Niemand zwingt dich, aber bereuen wirst du es nicht! Unser <b>Netzwerk</b> verbindet Studierende aller Semester bis hin zu <b> Dozenten </b> – einer davon war sogar Mitbegründer des Vereins! Du lernst tolle Menschen kennen, die du sonst nur aus der Mensaschlange kennst.
    
    Es gibt aktive Mitglieder, die den Laden am Laufen halten, und viele passive, die das <b> Vereinsleben </b> einfach schätzen. Offiziell kannst du beitreten – eine reine Formalität. Als e.V. führen wir Buch, halten Mitgliederversammlungen ab und wählen einen Ausschuss. <b> Kosten </b> oder <b>  Verpflichtungen?  Keine! </b>
    
    Komm vorbei – wir freuen uns auf dich!
    📷 Instagram: sia_albstadt
  </div>



</div>



<div style="  display: flex; margin: 20px; justify-content: center; align-items: center;"><h1>Was sagen die Mitglieder?</h1></div>

<div class="bubble-div">

  <div class="make-space">
    <div class="bub" speech-bubble pright abottom style="--bbColor:#af2d58">
      <div class="title">
        Tobias, Sia-Alumni, 2019
      </div>
        Seit 2019 bin ich mit Begeisterung Mitglied der SIA, davon bis 2023 aktiv und nun eher passiv beteiligt.
        Die SIA bietet fantastische Gelegenheiten, wertvolle Kontakte zwischen Studierenden und Professoren zu 
        knüpfen und Unterstützung aus verschiedenen Fachrichtungen zu erhalten.
          Die SIA bedeutet mir nach wie vor sehr viel und hat mein Studium sehr bereichert.
    </div>
  </div>

  <div class="make-space">
    <div class="bub" speech-bubble pleft abottom style="--bbColor:#744b9f">
      <div class="title">
        Leon, aktives Mitglied, 2022
      </div>
      Ich bin der Sia in meinem 2. semester beigetreten, 
      für mich hat der Beitritt Anfangs keinen großen Unterschied in meinem Studium gemacht, 
      bis dann die Klausurenphase kam und man sich dann doch in der Sia intern zum lernen getroffen hat,
        was einen motiviert hat. (das war so der erste wow moment)
      nachdem man sich so ein bisschen kannte war alles auch ein bisschen entspannter.
      Erfahrungen gab es so einige und ich bin froh beigetreten zu sein.
    </div>
  </div>

  <div class="make-space">
    <div class="bub" speech-bubble pright abottom style="--bbColor:#f05142"> 
      <div class="title">
        Simon, a.k.a der Saarländer und Sia-Alumni, 2022
      </div>
        Von Anfang an hatte ich eine Anlaufstelle mit super netten Leuten, 
        die mir den Start total erleichtert haben. 
        Durch die SIA hatte ich eine wundervolle Zeit, voller Spaß und guter Erinnerungen.
        Aus der anfangs fremden Umgebung wurde schnell ein Zuhause.
    </div>
  </div>

  <div class="make-space">
    <div class="bub" speech-bubble pleft abottom style="--bbColor:#484a9b">
      <div class="title">
        Andra, aktives Mitglied, 2021 beitritt im 1.Semester
      </div>
      In Albstadt ist die Sia der einzige Ort den man Leute kennen lernen kann, 
      wo man Lebenslange Freundschaften aufbaut. 
      Währen der Vorlesungen hat man nicht wirklich die Möglichkeit, 
      selbst wenn man ständig mit seinen Kommillitonen in Kontakt ist.
      Es ist etwas ganz anderes wenn man außerhalb der Hochschule was unternimmt 
      mit der Möglichkeit Leute kennen zu lernen.
      Anfangs wusste ich noch nicht so recht, wohin mit mir und war sogar etwas schüchtern. 
      Die Sia ist mir in der Hinsicht sehr entgegen gekommen,
      # da die Mitglieder offen auf Leute zugegangen sind.
      Ich hatte dann sehr schnell Spaß daran gefunden,
        als Barfrau in den Kontakt mit Gästen und anderen Mitgliedern zu treten.
      Es ist aufjedenfall das Highlight in Albstadt!
      (Aus redaktionellen Gründen umformuliert.)
    </div>
  </div>

</div>



    




<style>

.bubble-div{
  margin:10px;
  padding: 10px;

}

.bub{
  max-width: 1000px;
  min-width: 400px;
  flex-direction: column;
}

.make-space{
  padding: 20px;
  width: 100%;
  display: flex;  
  justify-content: center; 
  align-items: center;
}

  [speech-bubble], [speech-bubble] * { box-sizing: border-box }

[speech-bubble]{
  --bbColor: grey;
  --bbArrowSize: 1.5rem;
  --bbBorderRadius: 0.25rem;
  --bbPadding: 1rem;
  background: var(--bbColor);
  border-radius: var(--bbBorderRadius);
  padding: var(--bbPadding);
  position: relative;
}

[speech-bubble]::before{
  content: ''; 
  position: absolute;
  background: var(--bbColor);
}

[speech-bubble][pbottom]{ margin-bottom: var(--bbArrowSize) }
[speech-bubble][ptop]   { margin-top: var(--bbArrowSize); }
[speech-bubble][pleft]  { margin-left: var(--bbArrowSize); }
[speech-bubble][pright] { margin-right: var(--bbArrowSize); }


/* bottom and top  */
[speech-bubble][pbottom]::before,
[speech-bubble][ptop]::before{
  --width: calc(var(--bbArrowSize) / 2 * 3);
  height: var(--bbArrowSize);
  width: var(--width);
}

/* bottom */
[speech-bubble][pbottom]::before{
  top: calc(100% - 2px);
}
[speech-bubble][pbottom][aleft]::before{
  left: 1rem;
  clip-path: polygon(25% 0, 100% 0, 0% 100%)
}
[speech-bubble][pbottom][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 0, 87.5% 0, 50% 100%)
}
[speech-bubble][pbottom][aright]::before{
  right: 1rem;
  clip-path: polygon(0 0, 75% 0, 100% 100%)
}

/* top */
[speech-bubble][ptop]::before{
  bottom: calc(100% - 2px);
}
[speech-bubble][ptop][aleft]::before{
  left: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 25% 100%)
}
[speech-bubble][ptop][acenter]::before{
  left: calc(50% - var(--width) / 2);
  clip-path: polygon(12.5% 100%, 50% 0, 87.5% 100%)
}
[speech-bubble][ptop][aright]::before{
  right: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 75% 100%)
}

/* left and right  */
[speech-bubble][pleft]::before,
[speech-bubble][pright]::before{
  --height: calc(var(--bbArrowSize) / 2 * 3);
  width: var(--bbArrowSize);
  height: var(--height);
}

/* right */
[speech-bubble][pright]::before{
  left: calc(100% - 2px);
}
[speech-bubble][pright][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(100% 0, 0 100%, 0 25%)
}
[speech-bubble][pright][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 12.5%, 100% 50%, 0 87.5%)
}
[speech-bubble][pright][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 0, 100% 100%, 0 75%)
}

/* left */
[speech-bubble][pleft]::before{
  right: calc(100% - 2px);
}
[speech-bubble][pleft][atop]::before{
  top: var(--bbPadding);
  clip-path: polygon(0 0, 100% 25%, 100% 100%)
}
[speech-bubble][pleft][acenter]::before{
  top: calc(50% - var(--height) / 2);
  clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
}
[speech-bubble][pleft][abottom]::before{
  bottom: var(--bbPadding);
  clip-path: polygon(0 100%, 100% 0, 100% 75%)
}

/* flip */
[speech-bubble][pbottom][flip]::before,
[speech-bubble][ptop][flip]::before{
  transform: scaleX(-1)
}
[speech-bubble][pleft][flip]::before,
[speech-bubble][pright][flip]::before{
  transform: scaleY(-1)
}





/* for demo */
.speech-bubble {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  box-sizing: border-box;
  cursor: default
}
body{
  max-width: 100%;
  display:grid;
  grid-template-areas:
    'br bc bl'
    'rb cc lb'
    'rc cc lc'
    'rt cc lt'
    'tr tc tl';
  gap: 2rem;
  background: #141518;
}

.middle{
  grid-area: cc;
  align-self: center;
  justify-self: center;
  text-align:center;
  color: white;
}

[speech-bubble][pbottom][aleft]   {grid-area: bl}
[speech-bubble][pbottom][acenter] {grid-area: bc}
[speech-bubble][pbottom][aright]  {grid-area: br}

[speech-bubble][pright][atop]     {grid-area: rt}
[speech-bubble][pright][acenter]  {grid-area: rc}
[speech-bubble][pright][abottom]  {grid-area: rb}

[speech-bubble][pleft][atop]      {grid-area: lt}
[speech-bubble][pleft][acenter]   {grid-area: lc}
[speech-bubble][pleft][abottom]   {grid-area: lb}

[speech-bubble][ptop][aleft]      {grid-area: tl}
[speech-bubble][ptop][acenter]    {grid-area: tc}
[speech-bubble][ptop][aright]     {grid-area: tr}

[speech-bubble][pbottom],
[speech-bubble][ptop]{margin: 0}

[speech-bubble]{ 
  filter: drop-shadow(0px 0px 0.2rem black);
  transition: transform 0.25s ease
}
[speech-bubble]:hover{
  transform: scale(1.05);
  filter: 
    drop-shadow(0px 0px 0.2rem black)
    drop-shadow(0px 0px 1rem var(--bbColor));
}

[speech-bubble] .title{
  font-weight: 600;
  color: white; 
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0.5rem
}
[speech-bubble] code {
  background: white;
  margin: 0.125rem;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  white-space: nowrap;
  font-size: .9rem
}

.middle code{
  font-size: 1rem;
}

</style>
    {% endblock %}